<!doctype html>
<html>
<head>
    <title>Upload</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}" as="style">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
</head>
<body>
    <section class="top">
        <h1>Mosaic your images by one click</h1>
        <div class="example">
            <div class="example-img">
                <img src="/static/img/parrot-super-web-page.jpg" alt="">
                <div class="label">
                    before
                </div>
            </div>
            <div class="example-img">
                <img src="/static/img/parrot-super-web-page.png" alt="">
                <div class="label">
                    after
                </div>
            </div>
        </div>
        <div class="upload-form">
            <form method=POST enctype=multipart/form-data action="{{ url_for('upload') }}">
                <input type=file name=photo required>
                <input type="submit">
            </form>
        </div>
    </section>
    <section>
        <h2>Usage</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </section>
    <section>
        <h3>Feedback and reach me</h3>
    </section>
</body>
</html>
