body{
  font-family: 'Lato', sans-serif;
}

section {
  padding: 20px;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

section p {
  max-width: 800px;
}

section.top{
  justify-content: space-around;
}

input[type=file] {
  background-color: #3CBC8D;
  color: white;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input {
  background: white;
  color: grey;
  padding: 10px;
  border: 2px solid grey;
  border-radius: 10px;
  font-size: 18px;
}

input:hover {
  cursor: pointer;
}

.example{
  display: flex;
  max-width: 900px;
  flex-wrap: wrap;
}

.example .label{
  position: absolute;
  bottom: 5px;
  left: 5px;
  text-transform: uppercase;
  color:white;
  font-size: 30px;
  text-shadow: 1px 1px 3px black;
}

.example-img{
  position: relative;
  width: 50%;
  min-width: 280px;
}

img{
  max-width: 100%;
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  margin-right: 20px;
}

.btn:hover{
  cursor: pointer;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.submit-btn-wrapper{
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.contact-me {
  line-height: 40px;
  word-spacing: 2px;
}

.social-links {
  list-style: none;
  float: right;
}

.social-links li {
  display: inline-block;
  margin-right: 20px;
}

.social-links li:last-child {
  margin-right: 0;
}

.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: #888;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.social-links li a:link,
.social-links li a:visited {
    font-size: 200%;
}


.ion-social-github,
.ion-email {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-github:hover { color: #3b5998; }

.ion-email:hover { color: #dd4b39; }
